.topRectangle{
    position: absolute;
    width: 100%;
    height: 127px;
    left: 0px;
    top: 0px;
    background-color: #D095F4;
    mix-blend-mode: normal;
}
.usernameText{
    position: absolute;
    height: 54px;
    left: 20px;
    right: 80%;
    top: 18%;
    font-size: 30;
}

.levelCompleteText{
    position: absolute;
    margin-left: 30%;
    margin-right: 40%;
    font-size: 72;
}

.quit{
position: absolute;
box-shadow: 0px 4px 4px black;
border-radius: 100px;
background-color: black;
color: white;
padding: 16px 32px;
text-align: center;
width: 150px;
display: inline-block;
font-size: 16px;
margin: 2% 85%;
cursor: pointer;

}
.minitable{
    border-spacing: 210px 100px;
  
}
.none{
    background-color: white;
    border: white;
}

.options{
    box-shadow: 0px 4px 4px #1c1b1d;
    border-radius: 100px;
    background-color: #D095F4;;
    color: white;
    padding: 16px 32px;
    text-align: center;
    width: 190px;
    display: inline-block;
    font-size: 16px;
    margin-top: 40%;
    cursor: pointer;
    
    }
    .div{
        column-gap: 40px;
    }

    .mainTable, tr, th{
        margin-left: 16%;
        border: 1px solid black;
        font-size: 40px;
    }

    .levels{
        position: absolute;
        margin-left: 45%;
        margin-top: 5%;
        box-shadow: 0px 4px 4px #C4C4C4;
        border-radius: 100px;
        background-color: #C4C4C4;
        color: white;
        padding: 16px 32px;
        text-align: center;
        width: 150px;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }